.BuyPage {
  min-height: calc(100vh - 182px);

  .filtersContainer {
    display: flex;
    justify-content: center;
    height: 560px;
    padding-top: 219px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../../assets/images/main-background.jpg);
    background-size: cover;
  }

  .mainContent {
    padding-top: 64px;
    padding-bottom: 96px;
    .propertyListContainer {
      display: flex;
      justify-content: center;
      padding-left: 100px;
      padding-right: 100px;

      &:first-child {
        margin-bottom: 24px;
      }
    }
  }
}
