.PropertyList {
  max-width: 1240px;
  flex: 1;

  .listContainer {
    position: relative;
    .list {
      border: 1px solid red;
    }
    button {
      position: absolute;

      &.previous {
        left: -40px;
      }
    }
  }
}
