.Header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 114px;
  padding-top: 35px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: rgba(0, 0, 0, 0.7);

  .languageSwitcher {
    position: absolute;
    right: 40px;
    font-family: 'Smooch Sans';
    font-weight: bold;
    font-size: 28px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
  }

  .container {
    display: flex;
    flex: 1;
    max-width: 1240px;
    .phone {
      margin-left: auto;
      font-family: 'Smooch Sans';
      text-decoration: none;
      font-weight: 600;
      font-size: 22px;
      line-height: 148%;
      color: white;
    }

    .navigationMenu {
      flex: 1;
      max-width: 835px;

      ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          img {
            position: relative;
            top: -11px;
            z-index: 22;
            width: 90px;
            height: 77px;
          }

          a {
            text-decoration: none;
            font-weight: 600;
            font-size: 30px;
            line-height: 148%;
            color: white;
            opacity: 0.6;

            &.link {
              opacity: 1;
            }

            &.active {
              position: relative;
              opacity: 1;

              &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 16px;
                height: 2px;
                background-color: #ef5225;
                border-radius: 6px;
              }
            }
          }
        }
      }
    }
  }
}
