.Filters {
  display: flex;
  max-width: 1240px;
  height: 200px;
  flex: 1;
  gap: 20px;

  .col {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
    max-width: 400px;

    .buttonContainer {
      display: flex;
      justify-content: center;
      margin-top: 28px;
    }

    .shortSelects {
      display: flex;
      gap: 20px;
    }
  }
}
